.text-header {
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: rgb(206, 178, 117);
    height: 50px;
    padding-top: 25px;
}

.image-1 {
    background-image: url(images/qUk5jkJhay8.jpg);
    background-repeat: no-repeat;
}

.buttons {
    margin-left: 250px;
}

.go-street {
    background-color: rgb(167, 158, 108);
    width: 200px;
    height: 100px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    text-decoration: none;
    color: black;
}

.go-eat {
    background-color: rgb(167, 158, 108);
    width: 200px;
    height: 100px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    text-decoration: none;
    color: black;
}

.go-drink {
    background-color: rgb(167, 158, 108);
    width: 200px;
    height: 100px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    text-decoration: none;
    color: black;
}

.go-out {
    background-color: rgb(167, 158, 108);
    width: 200px;
    height: 100px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15%;
    text-decoration: none;
    color: black;
}