.name-top {
    background-color: rgb(93, 175, 93);
    padding-top: 3%;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    height: 70px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Roma-Putin {
    width: 100%;
}

.fon {
    background-color: rgb(235, 203, 165);
}

.money {
    background-color: black;
    color: yellow;
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 8px;
    font-size: 28px;
    margin-left: 700px;
}
